menu "Hardware Nodes Configuration"

    menu "OLED Display Node"
        config NODE_ENABLE_OLED
            bool "Enable SSD1306 OLED Node (Uses Main I2C)"
            default y
    endmenu

    menu "AHT20 Sensor Node"
        config NODE_ENABLE_AHT20
            bool "Enable AHT20 Temp/Humi Node (Uses Main I2C)"
            default y
    endmenu

    menu "Buzzer (Beep) Node"
        config NODE_ENABLE_BEEP
            bool "Enable Buzzer Node"
            default y

        config NODE_BEEP_GPIO_PIN
            int "Buzzer GPIO Pin"
            depends on NODE_ENABLE_BEEP
            default 12

        choice NODE_BEEP_HARDWARE_TYPE
            prompt "Buzzer Hardware Type"
            depends on NODE_ENABLE_BEEP
            default NODE_BEEP_TYPE_ACTIVE

            config NODE_BEEP_TYPE_ACTIVE
                bool "Active Buzzer"
            config NODE_BEEP_TYPE_PASSIVE
                bool "Passive Buzzer"
        endchoice

        choice NODE_BEEP_ACTIVE_LEVEL
            prompt "Buzzer Active Level"
            depends on NODE_BEEP_TYPE_ACTIVE
            default NODE_BEEP_ACTIVE_HIGH

            config NODE_BEEP_ACTIVE_HIGH
                bool "Active High (1 = ON)"
            config NODE_BEEP_ACTIVE_LOW
                bool "Active Low (0 = ON)"
        endchoice

        config NODE_BEEP_PWM_FREQ_HZ
            int "Passive Buzzer Frequency (Hz)"
            depends on NODE_BEEP_TYPE_PASSIVE
            default 2700
    endmenu

endmenu